<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board"> <!-- 객체Bean의 id를 걸어주는 과정 -->



	<select id="list" resultType="BoardVo"> <!-- mybaits-conf의 alias -->
		select * from board
	</select>
</mapper>
